/* sidebar and content size fix */

.sidebar {
    width: 200px;
}

#page-wrapper {
    margin: 0 0 0 200px;
}

/* */
.editable {

}

.non-editable {
    border: 0px;
}

th.spacing {
    text-align: center;
}

td.spacing {
    padding: 2px;
}

td.left {
    text-align: left;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

.form-control-row {
    display: inline;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div.dataTables_paginate {
    float: none;
}

.pagination li {
    display: inline-block;
}


.pagination em {
    width: 0;
    color: #224b6a;
}


.pagination em span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #224b6a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination a span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a.paginglink {
    border: 0;
    padding: 0;
}

div.dataTables_filter input {
    width: 25em;
}

.important-text {
    font-size: 200%;
    font-weight: bold;
}

td.right,
th.right{
    text-align: right;
}


.input-group-addon {
    min-width: 36px;
}



/* Wicket datepicker */
#statsstartdateIcon {
    display: none;
}

#statsenddateIcon {
    display: none;
}

#statsstartdate {
    min-width: 300px;
}

#statsenddate {
    min-width: 300px;
}


@media screen
{
    .only-printable { display: none; visibility: hidden; }
}

@media print
{
    .non-printable { display: none; visibility: hidden; }
    .only-printable { display: block; visibility: visible; }
    #page-wrapper {margin: 0;}
}