<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">

    <persistence-unit name="pu" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>org.cashregister.domain.GenericEntity</class>
        <class>org.cashregister.domain.Category</class>
        <class>org.cashregister.domain.Product</class>
        <class>org.cashregister.domain.Transaction</class>
        <class>org.cashregister.domain.TransactionDetail</class>
        <class>org.cashregister.domain.Merchant</class>
        <class>org.cashregister.domain.User</class>
        <class>org.cashregister.domain.Right</class>
        <class>org.cashregister.domain.Role</class>
        <class>org.cashregister.domain.OverviewLine</class>
        <class>org.cashregister.domain.Config</class>
        <properties>
            <property name="hibernate.dialect" value="org.cashregister.webapp.util.MySQL5InnoDBUTF8Dialect"/>
            <property name="hibernate.hbm2ddl.auto" value="validate"/>
            <property name="hibernate.transaction.flush_before_completion" value="true"/>
            <property name="hibernate.connection.shutdown" value="false"/>
            <property name="hibernate.connection.autocommit" value="true"/>
            <property name="hibernate.c3p0.min_size" value="5"/>
            <property name="hibernate.c3p0.max_size" value="20"/>
            <property name="hibernate.c3p0.timeout" value="1800"/>
            <property name="hibernate.c3p0.max_statements" value="50"/>
            <property name="hibernate.c3p0.idle_test_period" value="10"/>
            <property name="hibernate.c3p0.testConnectionOnCheckout" value="true"/>
            <property name="hibernate.c3p0.acquire_increment" value="5"/>
            <property name="connection.provider_class" value="org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider"/>
        </properties>
    </persistence-unit>
</persistence>